<title><%= @tour.name %></title>
<div class="row">
      <h1>
        <%= @tour.name %>
      </h1>
    <%= @tour.schedule %>
    <%= @tour.place_departure %>
    <%= @tour.time %>
    <%= @tour.people_number %>
    <%= @tour.transport %>
    <%= @tour.price %>
    <%= @tour.content %>
    <%= @tour.time_start %>
    <%= @tour.rating %>
</div>
