<title><%= "book tour" %></title>
<h1><%= t "Book tour" %></h1>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for [@book_tour.tour, @book_tour] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
        <div class="form-group">
          <%= f.label :people_number %>
          <%= f.text_field :people_number, class: "form-control" %>
        </div>
        <div class="form-group">
          <%= f.label :requirement %>
          <%= f.text_field :requirement, class: "form-control" %>
        </div>
        <%= f.submit "create", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>
